    $ git status
    $ cat ./data/bill data
    $ cat ./data/campaign data
ccf.bill-legislator projection.plt
ccf.bill-legislator projection.tab
.vscode/settings.json
hop.cosponsor-hops.tab
*.plt
processed-data/campaignNetworks_raw.csv
data/financials/candidate_master/1982.txt
data/financials/candidate_master/1984.txt
data/financials/candidate_master/1986.txt
data/financials/candidate_master/1988.txt
data/financials/candidate_master/1990.txt
data/financials/candidate_master/1992.txt
data/financials/candidate_master/1994.txt
data/financials/candidate_master/1996.txt
data/financials/candidate_master/1998.txt
data/financials/candidate_master/2000.txt
data/financials/candidate_master/2002.txt
data/financials/candidate_master/2004.txt
data/financials/candidate_master/2006.txt
data/financials/candidate_master/2008.txt
data/financials/candidate_master/2010.txt
data/financials/candidate_master/2012.txt
data/financials/candidate_master/2014.txt
data/financials/candidate_master/2016.txt
data/financials/candidate_master/cn_header_file.csv
data/financials/com_master/1982.txt
data/financials/com_master/1984.txt
data/financials/com_master/1986.txt
data/financials/com_master/1988.txt
data/financials/com_master/1990.txt
data/financials/com_master/1992.txt
data/financials/com_master/1994.txt
data/financials/com_master/1996.txt
data/financials/com_master/1998.txt
data/financials/com_master/2000.txt
data/financials/com_master/2002.txt
data/financials/com_master/2004.txt
data/financials/com_master/2006.txt
data/financials/com_master/2008.txt
data/financials/com_master/2010.txt
data/financials/com_master/2012.txt
data/financials/com_master/2014.txt
data/financials/com_master/2016.txt
data/financials/com_master/cm_header_file.csv
data/financials/contributions_to_candidates/1982.txt
data/financials/contributions_to_candidates/1984.txt
data/financials/contributions_to_candidates/1986.txt
data/financials/contributions_to_candidates/1988.txt
data/financials/contributions_to_candidates/1990.txt
data/financials/contributions_to_candidates/1992.txt
data/financials/contributions_to_candidates/1994.txt
data/financials/contributions_to_candidates/1996.txt
data/financials/contributions_to_candidates/1998.txt
data/financials/contributions_to_candidates/2000.txt
data/financials/contributions_to_candidates/2002.txt
data/financials/contributions_to_candidates/2004.txt
data/financials/contributions_to_candidates/2006.txt
data/financials/contributions_to_candidates/2008.txt
data/financials/contributions_to_candidates/2010.txt
data/financials/contributions_to_candidates/2012.txt
data/financials/contributions_to_candidates/2014.txt
data/financials/contributions_to_candidates/2016.txt
data/financials/contributions_to_candidates/pas2_header_file.csv
data/financials/raw_data/cm00.zip
data/financials/raw_data/cm02.zip
data/financials/raw_data/cm04.zip
data/financials/raw_data/cm06.zip
data/financials/raw_data/cm08.zip
data/financials/raw_data/cm82.zip
data/financials/raw_data/cm84.zip
data/financials/raw_data/cm86.zip
data/financials/raw_data/cm88.zip
data/financials/raw_data/cm90.zip
data/financials/raw_data/cm92.zip
data/financials/raw_data/cm94.zip
data/financials/raw_data/cm96.zip
data/financials/raw_data/cm98.zip
data/financials/raw_data/cn00.zip
data/financials/raw_data/cn02.zip
data/financials/raw_data/cn04.zip
data/financials/raw_data/cn06.zip
data/financials/raw_data/cn08.zip
data/financials/raw_data/cn82.zip
data/financials/raw_data/cn84.zip
data/financials/raw_data/cn86.zip
data/financials/raw_data/cn88.zip
data/financials/raw_data/cn90.zip
data/financials/raw_data/cn92.zip
data/financials/raw_data/cn94.zip
data/financials/raw_data/cn96.zip
data/financials/raw_data/cn98.zip
data/financials/raw_data/pas200.zip
data/financials/raw_data/pas202.zip
data/financials/raw_data/pas204.zip
data/financials/raw_data/pas206.zip
data/financials/raw_data/pas208.zip
data/financials/raw_data/pas282.zip
data/financials/raw_data/pas284.zip
data/financials/raw_data/pas286.zip
data/financials/raw_data/pas288.zip
data/financials/raw_data/pas290.zip
data/financials/raw_data/pas292.zip
data/financials/raw_data/pas294.zip
data/financials/raw_data/pas296.zip
data/financials/raw_data/pas298.zip
data/legislators-historical.csv
processed-data/candidate_master_financials.csv
processed-data/candidate_master_financials.xlsx
processed-data/legislator_node.xlsx
processed-data/mapping.xlsx
processed-data/campaignNetworks_raw_v2.csv
processed-data/campaignNetworks_v2.txt
processed-data/com_combined.csv
processed-data/contributionsAgg.csv
analysis-scripts/common_function.pyc
analysis-scripts/common_function.pyc
processed-data/campaign_projection.txt
processed-data/bill_projection.txt
analysis-scripts/common_function.pyc
processed-data/combined_network.txt
